
{
 
  "printWidth": 100,          
  "tabWidth": 2,              
  "useTabs": false,           
  "semi": false,              
  "singleQuote": true,        
  "quoteProps": "consistent", 
  "trailingComma": "none",    
  

  "vueIndentScriptAndStyle": true, 
  "htmlWhitespaceSensitivity": "ignore", 
  

  "bracketSpacing": true,   
  "arrowParens": "avoid",    
  "endOfLine": "auto",       
  "jsxSingleQuote": true    
}